body {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: 148px 25px 980px 1fr;
  grid-gap: 5px;
  grid-template-areas: "header header header" "floor-selection inputinfo assets" "floor-selection floor-map assets" "footer footer footer";
}

.header {
  color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px;
  grid-area: header;
  background-image: url(../assets/header-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}

h3 {
  text-align: center;
  color: #0094B3;
  font-size: 18px;
}

.header h1 {
  text-align: center;
  margin: 42px auto 0px;
  font-size: 73px;
}

.floor-map {
  display: grid;
  grid-area: floor-map;
  margin: 10px;
  border: 1px solid black;
}

.inputinfo {
  text-align: center;
  justify-items: center;
  align-items: center;
}

#eventName {
  width: 266px;
  height: 15px;
  border-radius: 12px;
  margin: 12px 23px 5px 0;
  background-color: rgba(0,148,179,.15);
  text-align: center;
}

#eventDate {
  width: 266px;
  height: 15px;
  border-radius: 12px;
  margin: 12px 0 5px 23px;
  background-color: rgba(0,148,179,.15);
  text-align: center;
}

.grid-system {
  width: 960px;
  height: 980px;
  background-size: 12px 12px;
  background-image:
  linear-gradient(to right, rgba(0, 0, 100, 0.1) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(0, 0, 100, 0.1), transparent 1px);
}

.floor-selection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: floor-selection;
  border: 1px solid black;
  margin: 40px 0 10px 0;
}

.assets {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: assets;
  border: 1px solid black;
  margin: 40px 0 10px 0;
}

.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 66px;
  grid-area: footer;
  background-color: orange;
}

button {
  text-align: center;
  margin: 0 auto;
  width: 128px;
  height: 36px;
}
