body {
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: 1fr 980px 1fr;
  grid-template-areas: "header header header" "floor-selection floor-map assets" "footer footer footer";
}

.header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px;
  grid-area: header;
  background-color: teal;
}

.header h1 {
  text-align: center;
  margin: 0 auto;
}

.floor-map {
  display: grid;
  grid-area: floor-map;
  margin: 10px;
  border: 1px solid black;
  background-size: 40px 40px;
  background-image:
  linear-gradient(to right, grey 1px, transparent 1px),
  linear-gradient(to bottom, grey 1px, transparent 1px);
}

.floor-selection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: floor-selection;
  background-color: purple;
}


.assets {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: assets;
  background-color: red;
}

.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px;
  grid-area: footer;
  background-color: orange;
}

/*I'm going to start this out in CSS Grid (AT)*/
/*
#floorplan {
  float: left;
  border: 10px solid black;
  height: 600px;
  width: 100px;
  margin-right: 20px;
}

#editor {
  border: 1px solid red;
  float: left;
  height: 600px;
  width: 100px;
  margin-right: 20px;
}

#furniture {
  float: left;
  border: 1px solid blue;
  height: 600px;
  width: 100px;
}
*/
